body {
  font-family: Tahoma, Arial;
  background: #f2f2f2;
  margin: 0;
  padding: 10px;
}

h2 {
  text-align: center;
}

.box {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

select, button {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  font-size: 16px;
}

pre {
  background: #fafafa;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.9;
  white-space: pre-wrap;
}

/* القارئ */
.reader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reader-box {
  background: #fff;
  width: 95%;
  max-height: 90%;
  overflow-y: auto;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 2;
}

.hidden {
  display: none;
}
